.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
}

.btn1 {
  background-color: #fff;
  border: none;
  color: #474444;
  padding: 10px 100px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  /* margin: 4px 2px; */
  cursor: pointer;
  box-shadow: 0 4px 50px 0 rgba(0, 25, 255, 0.24);
}

.btnContainer1 {
  margin-bottom: 60px;
  display: flex;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #474444;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.input {
  border: none;
  background-color: #f4f4f4;
  width: 400px;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  margin-left: 30px;
  padding: 0 10px;
  /* position: absolute; */
}

.btn2 {
  background-color: #a9bcff;
  color: #474444;
  border: none;
  padding: 10px 100px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.btnContainer2 {
  display: flex;
}

.error {
  border: 2px solid red;
  background-color: transparent;
  width: 400px;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  margin-left: 30px;
  padding: 0 10px;
  position: relative;
  color: red;
}

.inputError {
  border: 1px solid red; /* Optional: To highlight the input border */
}

.inputError::placeholder {
  color: red; /* Change the placeholder text color to red when there's an error */
}
