.container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.81);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  gap: 30px;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  font-size: 24px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
}

.typeContainer {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
  font-size: 24px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
}

.typeBtn {
  font-size: 20px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 60px;
  border-radius: 10px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
}

.btnContainer {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
  padding-top: 60px;
}

.cancelBtn {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  padding: 10px 100px;
  font-size: 21px;
  color: #474444;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.continueBtn {
  font-size: 21px;
  background-color: #60b84b;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  padding: 10px 100px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
